[Desktop Entry]
Encoding=UTF-8
Name=PrimeStone
Comment=PrimeStone P2P Cryptocurrency
Comment[fr]=PrimeStone, monnaie virtuelle cryptographique pair à pair
Comment[tr]=PrimeStone, eşten eşe kriptografik sanal para birimi
Exec=primestone-qt %u
Terminal=false
Type=Application
Icon=primestone128
MimeType=x-scheme-handler/primestone;
Categories=Office;Finance;
